@model List<PBI.CaseStudy.Models.SecurityView>
@{
    ViewData["Title"] = "Case Study";
}
@(Html.DevExtreme().TabPanel()
    .ID("tabPanel")
    .SelectedIndex(0)
    .Loop(false)
    .AnimationEnabled(true)
    .SwipeEnabled(true)
    .Items(i =>
    {
        foreach(var security in Model)
        {
            i.Add()
            .Title(security.Id)
            .Template(@<text>
                <div style="tabpanel-item">
                    @await Html.PartialAsync("_SecurityDetails", security)
                </div>
            </text>);
        }

    })
)

<div>

</div>
